
.back-black{
    background-color: black;
    padding: 9px 4px;
}
#mycards{
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    margin: auto;
    justify-content: space-between;

}
.card{
    width: 20rem;
    /* height: 100px !important; */
    display: block;
    margin: 5px;

}
#myimage{
    width: 300px;
    height: 200px;
}